/* *********************************************************************************** */
/* degine one */
/* *********************************************************************************** */
.call_to_action_1 {
    position: relative;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    grid-gap: 90px;
    padding: 80px;
    background-repeat: no-repeat;
    background-position: 90% 80%;
    font-family: 'Lato', sans-serif;
    max-width: 1170px;
    margin: auto;
    box-sizing: border-box;
    &:after, &:before {
        position: absolute;
        content: '';
        height: 100%;
        width: 100%;
        -webkit-transform: skewX(-9deg);
        transform: skewX(-9deg);
        background-color: transparent;
    }
    &:before {
        border: 1px solid #000;
        top: -10px;
        left: 10px;
        z-index: -1;
    }
    &:after {
        background-color: #7840FF;
        top: 0;
        left: 0;
        z-index: -2;
    }
    &>.cta_content {
        z-index: 1;
        color: #fff;
        padding-left: 70px;
        box-sizing: border-box;
        -ms-flex-item-align: center;
        align-self: center;
        h2{
            font-family: inherit;
            font-size: 30px;
            font-weight: 700;
            margin: 25px auto 25px;
            line-height: 36px;
        }
        p{
            font-family: inherit;
            font-weight: 300;
            font-size: 16px;
            line-height: 26px;
            margin-top: 16px;
            margin-bottom: 30px;
        }
        > button,
        > .ctagb-btn {
            background: #fff;
            font-size: 16px;
            text-transform: uppercase;
            padding: 15px 30px;
            cursor: pointer;
            position: relative;
            padding-right: 60px;
            border: 1px solid #fff;
            color: black;
            transition: all 300ms ease;
            font-family: inherit;
            font-weight: 400;
            text-decoration: none;
            display: inline-block;
            &:focus {
                outline: none;
            }
            &:after {
                position: absolute;
                content: '\2192';
                font-size: 24px;
                top: calc(50% - 3px);
                line-height: 0;
                transform: translateY(-50%);
                right: 27px;
                transition: all 300ms ease;
            }
            &:hover{
                background: #7840FF;
                color: #fff;
                text-decoration: none;
                &:after {
                    right: 22px;
                    color: #fff;
                }
            }
        }
    }
}

/* ********************************************************************** */
/* design two */
/* ********************************************************************** */
.call_to_action_2,
.call_to_action_3{
    &.alignfull {
        background-position: 30% center;
        padding: 100px 20%;
        max-width: inherit;
        width: 100% !important;
    }
}

.call_to_action_2 {
    position: relative;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    background-color: #7840FF;
    background-repeat: no-repeat;
    font-family: 'Lato', sans-serif;
    margin: auto;
    box-sizing: border-box;
    background-position: 10% center;
    max-width: 1170px;
    padding: 80px;
    &>.cta_content {
        z-index: 1;
        color: #fff;
        box-sizing: border-box;
        grid-column: 2/3;
        grid-row: 1/2;
        padding-right: 120px;
        -ms-flex-item-align: center;
        align-self: center;
        h2{
            font-family: inherit;
            font-size: 30px;
            font-weight: 700;
            margin: 25px auto 25px;
            line-height: 36px;
        }
        p{
            font-family: inherit;
            font-weight: 300;
            font-size: 16px;
            line-height: 26px;
            margin-top: 16px;
            margin-bottom: 30px;
        }
        >button,
        > .ctagb-btn {
            background: #FF8C40;
            font-size: 16px;
            text-transform: uppercase;
            padding: 15px 30px;
            border: 1px solid #FF8C40;
            cursor: pointer;
            position: relative;
            padding-right: 60px;
            color: #fff;
            transition: all 300ms ease;
            font-family: inherit;
            font-weight: 400;
            text-decoration: none;
            display: inline-block;
            &:after {
                position: absolute;
                content: '\2192';
                font-size: 24px;
                top: calc(50% - 3px);
                line-height: 0;
                transform: translateY(-50%);
                right: 27px;
                transition: all 300ms ease;
            }
            &:focus {
                outline: none;
            }
            &:hover {
                background-color: #fff;
                color: #FF8C40;
                &:after {
                    right: 22px;
                    color: #FF8C40;
                }
            }
        }
    }
}

/* *************************************************************************** */
/* design three */
/* *************************************************************************** */

.call_to_action_3 {
    position: relative;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    background-color: #7840FF;
    padding: 80px;
    background-repeat: no-repeat;
    background-position: 10% center;
    font-family: 'Lato', sans-serif;
    margin: auto;
    box-sizing: border-box;
    max-width: 1170px;
    >.cta_content {
        z-index: 1;
        color: #fff;
        box-sizing: border-box;
        grid-column: 2/3;
        grid-row: 1/2;
        padding-right: 120px;
        -ms-flex-item-align: center;
        align-self: center;
        >button {
            background: #fff;
            border: 1px solid #fff;
            font-size: 16px;
            text-transform: uppercase;
            padding: 18px 30px;
            border-radius: 50px;
            cursor: pointer;
            color: #FF8C40;
            transition: all 300ms ease;
            &:focus {
                outline: none;
            }
            &:hover {
                background: #FF8C40;
                color: #fff;
            }
        }
    }
}

/* ********************************************************************************* */

/* design four */

/* ********************************************************************************* */

.call_to_action_4.full_width, .call_to_action_5.full_width, .call_to_action_6.full_width, .call_to_action_7.full_width {
    border-radius: 0;
    max-width: inherit;
    padding: 100px 20%;
}

.call_to_action_4 {
    position: relative;
    background-color: #ffffff;
    padding: 80px 100px;
    font-family: 'Lato', sans-serif;
    max-width: 1170px;
    margin: auto;
    box-sizing: border-box;
    border-radius: 20px;
    box-shadow: 0px 0px 60px -12px rgba(34, 34, 34, 0.2);
}

.call_to_action_4>.cta_content {
    z-index: 1;
    box-sizing: border-box;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 3fr 1fr;
    grid-template-columns: 3fr 1fr;
    position: relative;
}

.call_to_action_4>.cta_content>h2 {
    font-size: 24px;
    color: #222222;
}

.call_to_action_4>.cta_content>p {
    color: #444444;
    grid-row: 2/3;
    grid-column: 1/2;
    padding-right: 120px;
    margin: 0;
}

.call_to_action_4>.cta_content>button {
    background: #FF8C40;
    border: 1px solid #FF8C40;
    font-size: 16px;
    text-transform: capitalize;
    padding: 20px 30px;
    cursor: pointer;
    padding-right: 60px;
    color: #fff;
    border-radius: 5px;
    position: absolute;
    right: 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    transition: all 300ms ease;
}

.call_to_action_4>.cta_content>button:hover {
    color: #FF8C40;
    background: #fff;
}

.call_to_action_4>.cta_content>button:focus {
    border: none;
    outline: none;
}

.call_to_action_4>.cta_content>button:after {
    position: absolute;
    content: '\2192';
    font-size: 24px;
    top: 20%;
    right: 27px;
    transition: all 300ms ease;
}

.call_to_action_4>.cta_content>button:hover::after {
    right: 22px;
    color: #FF8C40;
}